
#main {
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
}
.Altschool-logo {
    display: none;
}
#header {
    background-color: black;
    color: azure;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.Form,
.Media,
.Table {
    margin: 0px 50px;
    color: white;
}
.left-section {
    background-color: rgba(255, 245, 224, 0.647);
    text-align: center;
    width: 100%;
    height: 500px;
}
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    padding-top: 50px;
}

.alt-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.twitter,
.instagram,
.facebook,
.linkedin {
   width: 15px;
}

/* For laptop view */
.right-section {
    width: 100%;
    height: 100%;
}
.nav-section {
    display: flex;
    justify-content: right;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 30px;
}

.sign-up-text {
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}
.take-steps {
    font-size: 18px;
    margin: 20px 0px;
}

.first-section-form,
.second-section-form,
.third-section-form,
.fourth-section-form,
.fifth-section-form,
.sixth-section-form,
.seventh-section-form,
.eighth-section-form {
    display: flex;
    gap: 50px;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.sign-up-form input,
.sign-up-form select {
    padding: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 290px;
    flex: 1;
    background: rgb(250, 250, 250);
    color: (11, 30, 75);
}
.sign-up-form label{
    font-size: 20px;
}

input::placeholder,
select::placeholder {
    font-size: 12px; 
    color: #888; 
}

input,
select {
    font-size: 12px; 
}

#hear-about-us {
    width: 650px;
}

.terms {
    font-weight: lighter;
    font-size: 20px;
}
.button {
    background-color: rgb(106, 111, 245);
    color: white;
    width: 600px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background-color: rgb(106, 145, 245);
}

/* For Mobile view */
@media screen and (max-width: 750px) {
    #main {
        position: relative;
        bottom: 50px;
     }

    .Altschool-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .left-section {
        display: none;
    }

    .nav-section {
        display: flex;
        justify-content: center;
    }
    .sign-up-text {
        margin-top: 15px;
    }
}

