#header {
    background-color: black;
    color: azure;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.Form,
.Home,
.Media {
    margin: 0px 50px;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: beige;
  }

td,
th {
    border: 2px solid black;
    text-align: center;
    border-spacing: 8px;
  }